<h1>{{userName.role}}: <span id="nameUser">{{userName.name}}</span></h1>

<ul>
  <li><a href="/">Inicio</a></li>
  <li><a href="/api/session/current">Perfil</a></li>
  <li><a href="#" id="visitCart">Carrito</a></li>
</ul>

<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">Query</span>
  <input type="text" id="search" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="addon-wrapping" value="{{productData.query}}">
</div>

<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">Limit</span>
  <input type="number" class="form-control" id="limit" placeholder="Limite" aria-label="Username" aria-describedby="addon-wrapping" value="{{productData.limit}}">
</div>

<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">Sort</span>
 <select id="price-sort">
  <option value="0" {{#if productData.sortCero}} selected {{/if}}></option>
  <option value="asc" {{#if productData.sortAsc}} selected {{/if}}>Precio: Menor a mayor</option>
  <option value="desc" {{#if productData.sortDesc}} selected {{/if}}>Precio: Mayor a menor </option>
</select>
</div>

<button type="button" id="send-button" class="btn-dark btn-lg">Buscar</button>

<div class="container-products">
{{#each products}}

<div class="card" style="width: 18rem; height: 25rem;">
<img src="https://www.crucial.mx/content/dam/crucial/articles/for-pc-builders/new025-how-to-upgrade-your-pc/modern-gaming-pc.jpg.transform/medium-jpg/img.jpg"  class="card-img-top" alt="..."/>
<div class="card-body">
  <h5 class="card-title">{{this.title}}</h5>
  <p class="card-text">${{this.price}}</p>
  <p class="card-text">Disponibles: {{this.stock}}</p>
  <a href="#" id={{this._id}} class="add-cart btn btn-dark">Agregar al carrito</a>
</div>
</div>
{{/each}}


</div>

<div id="page-change">

  {{#if productData.hasPrevPage }}
  <div class="pages-links"><a href="/?page={{productData.prevPage}}&limit={{productData.limit}}"> Previus page:{{productData.prevPage}}</a></div>
  {{/if}}
  {{#if productData.hasNextPage }}
  <div class="pages-links"><a href="/?page={{productData.nextPage}}&limit={{productData.limit}}">Next page:{{productData.nextPage}}</a></div>
  {{/if}}

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="module" src="/js/products-events.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

</script>






